.topnav {
    overflow: hidden;
    background-color: #000000;
}
  
.topnav a {
    float: left;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

.topnav a.active {
    background-color: #000000;
    color: black;
}

.homeicon {
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
.textarea {
    width: 100%;
    height: 275px;
    resize: none;
    padding: 12px 20px;
    background-color: #ff0000;
    border-radius: 4px;
    border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 16px;
}
.prefix {
    width: 25%;
    height: 25px;
    resize: none;
    padding: 12px 20px;
    background-color: #ff0000;
    border-radius: 4px;
    border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 16px;
}
.suffix {
    width: 25%;
    height: 25px;
    resize: none;
    padding: 12px 20px;
    background-color: #ff0000;
    border-radius: 4px;
    border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 16px;
}
.formattextbox {
    width: 100%;
    height: 275px;
    resize: none;
    padding: 12px 20px;
    background-color: #ff0000;
    border-radius: 4px;
    border: 2px solid rgb(255, 0, 0);
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 16px;
}
.thebtnclass {
    text-align: center;
    font-family: Arial;
    border-color: transparent;
    color: black;
    position: relative;
    border-radius: 20px;
    word-wrap: none;
    white-space: nowrap;
    transition: background-color .125s linear;
    transition: color .125s linear;
    background-color: rgb(0, 255, 0);
    width: 100px;
    height: 50px;
    font-size: 24px;
}
.thebtnclass:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(255, 0, 0);
}
.thecopybtnclass {
    text-align: center;
    font-family: Arial;
    border-color: transparent;
    color: black;
    position: relative;
    border-radius: 20px;
    word-wrap: none;
    white-space: nowrap;
    transition: background-color .125s linear;
    transition: color .125s linear;
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    font-size: 24px;
    left: 85%;
}
.thecopybtnclass:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(255, 0, 0);
}
body {
    overflow: hidden;
  }