@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
body, html {
    position: relative;
    height: 100%; 
    width : 100%;  
    margin: 0;
    background-color:rgb(255, 255, 255);
}
.circle {
    position: absolute;
    border: solid 1px #ccc;
    width: 60px; 
    height: 60px; 
    border-radius: 50%;  
}
.sprite {
    position: absolute;
}
.flip {
    transform: rotateY(180deg) /*scaleX(-1);
    /**-webkit-transform: scaleX(-1); */
}
.unflip {
    transform: rotateY(0deg);
}
#image{    
    position:absolute;
}
.togglespritebtn {
    border-color: transparent;
    color: black;
    position: absolute;
    border-radius: 20px;
    bottom: 20px;
    left: 20px;
    padding: 0px 32px;
    word-wrap: none;
    white-space: nowrap;
    transition: background-color .125s linear;
    transition: color .125s linear;
    background-color: rgb(255, 0, 0);
    width: 125px;
    height: 50px;
    font-size: 16px;
    text-align: left;
}
.togglespritebtn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
.spritebtntxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}